node_modules
.next
.env
storage/
prisma/*.db
prisma/*.db-journal
prisma/*.db-wal
prisma/*.db-shm
*.log

fixtures/e2e/
fixtures/omr/
src/.build-stamp
tsconfig.tsbuildinfo
next-env.d.ts
node_modules/.pkg-stamp
